<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

{% block content %}
<style>
    p {
          padding-top: 10px;
          padding-right: 50px;
          padding-left: 25px;
    }

    h1 {
        padding-top: 10px;
        padding-left: 15px;
    }

    a {
        padding-left: 10px;
        padding-bottom: 10px;
    }

    h2 {
        padding-left: 10px;
    }

</style>
<h1>About this Site</h1>
<p class="text-left">The goal of this site is to help young professionals find the ideal place to live based on their work location and a number of personal preferences. We utilize Zillow rental price data, GIS methods, and basic utility maximization to provide affordable housing options that meet the needs of all sorts of young workers. Below you will find a behind the scenes look at the data and methods that make this site function. We also address limitations of our product.
<br>
We use Zillow’s ZIP Code level datasets for median rental prices of 1-, 2-, 3- and 4-bedroom apartments. Using these datasets allows us to give users the option of choosing the number of roommates they will have (i.e. 3 roommates for a 4-bedroom apartment). The Zillow data is, however, limited to only 95 ZIP Codes that occur in each of these datasets. We further limit the options to 78 ZIP Codes that are in major U.S. cities including Atlanta, Boston, Charlotte, Chicago, Dallas, Houston, Las Vegas, Los Angeles, Miami, New York, and Orlando. We refer to these as “home” ZIP Codes.
<br>
Using the 2010 U.S. Census ZIP Code tabulation area shapefile from the Census Bureau’s TIGER/Line data portal, we calculate the distance between roughly 33,000 U.S. ZIP Codes and their nearest 400 neighbors. Combining this distance matrix with our set of Zillow ZIP Codes results in 31,200 possible work-home ZIP Code combinations (i.e. each of the 78 home ZIP Codes has 400 neighbors). While this is not ideal for a fully functioning site, it is more than enough for our proof of concept. In the image below you can see the ZIP Code where the University of Chicago is located as well as the six ZIP Codes in our dataset that are within its 400 nearest neighbors. So, while other nearby ZIP Codes may have better characteristics, we can only maximize utility between the six highlighted.
<br>
We match all of the “home” ZIP Codes to data from the American Community Survey. These data include proportion of population by gender and age group, proportion of population that walk, bike, drive, or take public transportation to work, and the average travel time for commuters. ACS also includes data on the proportion of population that speaks Spanish, Indo-European, or Asian and Pacific islander languages.
<br>
Walk limit is 1.5 miles (or closest ZIP)
<br>
Bike limit is 5 miles (or closest ZIP)
    <br>

    <ul> Some good ZIP codes to try out are:
        <li>60637 U of Chicago</li>
        <li>02143 Whole Foods Cambridge Massachusetts</li>
        <li>30313 Atlanta Aquarium</li>
    </ul>
</p>
<h2>Directions for Use</h2>
<ol>
    <li>Enter the zip code of the location where you will be working</li>
    <li>Enter your age</li>
    <li>Enter the preferred gender for your roommates</li>
    <li>Select a level of priority of how important the gender of your roommates is to you (4 being the most important and 1 being the least important)</li>
    <li>Enter the number of bedrooms you wish for your apartment to have</li>
    <li>Select the method of transportation you will utilize in your area*</li>
    <li>Select a level of priority of how important the method of transportation you utilize is to you (4 being the most important and 1 being the least important)</li>
    <li>Select whether or not you will have pets</li>
    <li>Enter the minimum you wish to pay for rent each month in total over your number of roommates (to the nearest $250)</li>
    <li>Enter the maximum you wish to pay for rent each month in total over your number of roommates (to the nearest $250)</li>
    <li>Enter whether or not you are currently looking for a relationship and if so, which gender?</li>
    <li>Select a level of priority of how important the prospect of a relationship is to you (4 being the most important and 1 being the least important)</li>
    <li>Enter whether or not you prefer to live with people that speak a language other than English, as well as the language you prefer</li>
    <li>Select a level of priority of how important it is to you that the people in your area speak a language other than English (4 being the most important and 1 being the least important)</li>
    <li>Press submit to receive your most compatible apartment listings</li>
</ol>
<a href="{% url 'housingredirect:form' %}">Click Here to Use the Tool</a>
<p>*- It is assumed that if you select walking as your method of transportation, the limit of how far this will be from your office will be 1.5 miles (or closest zip code) and if you select biking as your method of transportation, the limit will be 5 miles (or closest zip code)</p>

{% endblock %}